[Unit]
Description=Add Flathub flatpak repository
ConditionPathExists=!/var/lib/flatpak/.flathub-repo-initialized
After=network-online.target
Before=flatpak-replace-fedora-apps.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/bin/flatpak --system remote-delete --force flathub
ExecStart=/usr/bin/flatpak --system remote-add --if-not-exists --title "Flathub" --prio=2 flathub https://flathub.org/repo/flathub.flatpakrepo
ExecStartPost=/usr/bin/touch /var/lib/flatpak/.flathub-repo-initialized

[Install]
WantedBy=multi-user.target
