[Unit]
Description=Remove Fedora flatpak repositories
ConditionPathExists=/var/lib/flatpak/.fedora-initialized
After=flatpak-replace-fedora-apps.service
Before=flatpak-system-helper.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/flatpak --system uninstall --noninteractive org.fedoraproject.Platform
ExecStart=/usr/bin/flatpak --system remote-delete --force fedora
ExecStart=/usr/bin/flatpak --system remote-delete --force fedora-testing
ExecStartPost=/usr/bin/rm -f /var/lib/flatpak/.fedora-initialized

[Install]
WantedBy=multi-user.target
